body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

table{
    width: 800px;
    height: 800px;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
}